@import "tailwindcss";

@layer base {
  :root {
    --font-fira-code: "Fira Code", monospace;
    --color-bg: #282c33;
  }

  html {
    font-family: var(--font-fira-code);
    background-color: black;
    color: white;
    cursor: pointer;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
}

.glitching {
  animation: glitchSkew 0.3s infinite;
  transform: skewX(2deg);
}

@keyframes glitchSkew {
  0% {
    transform: skewX(0deg);
  }
  25% {
    transform: skewX(-2deg);
  }
  50% {
    transform: skewX(2deg);
  }
  75% {
    transform: skewX(-1deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
