@import "tailwindcss";

@layer base {
  :root {
    --font-fira-code: "Fira Code", monospace;
    --color-bg: #282c33;
  }

  html {
    font-family: var(--font-fira-code);
    background-color: black;
    color: white;
    cursor: pointer;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Utility classes */
.float {
  animation: float 5s ease-in-out infinite;
}

.delay-1s {
  animation-delay: 1s;
}

.delay-2s {
  animation-delay: 2s;
}
